<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Thymeleaf - Form</title>
</head>

<body>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST" >

    First name : <input type="text" th:field="*{firstName}"  >

    <br> <br>

    Last name: <input type="text" th:field="*{lastName}">

    <br> <br>

    Country:
    <select th:field="*{country}"> <!-- NAME OF THE FIELD -->
        <option th:value="Brazil"> Brazil</option>
        <option th:value="France"> France</option>
        <option th:value="USA"> USA</option>
        <option th:value="Turkiye"> Turkiye</option>

    </select>

    <br><br>

    <input type="submit" value="Submit">

</form>
</body>

</html>